*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}
html {
    font-size: 100%;
}

.num1, .num2, .num3, .num4 {
    width: 100px; /* Base width */
    height: 100px; /* Base height */
    border-radius: 50%; /* Make them circular */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

@media (max-width: 1200px) {
    .num1, .num2, .num3, .num4 {
        width: 80px; /* Decrease size for smaller screens */
        height: 80px;
    }
}

@media (max-width: 900px) {
    .num1, .num2, .num3, .num4 {
        width: 60px; /* Further decrease size */
        height: 60px;
    }
}

@media (max-width: 600px) {
    .num1, .num2, .num3, .num4 {
        width: 40px; /* Further decrease size for mobile */
        height: 40px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 80%; 
    }
}

@media (max-width: 600px) {
    html {
        font-size: 70%;
    }
}
body{margin:0;font-family:Arial, Helvetica, sans-serif;color:#222}
.burger{
    font-size: 2em;
    cursor: pointer;
    user-select: none;
    display: block;
    margin: 10px;
}
.menu{
    display: none;
    flex-direction: column;
    background: #eee;
    position: absolute;
    top: 50px;
    left: 10px;
    padding: 10px;
    border-radius: 8px;
}
.menu a{
    padding: 8px 0;
    text-decoration: none;
    color: #333;
    font-size: clamp(1rem, 1rem + 1.2vw, 1.8rem);
}
.menu a:hover{
    padding: 10px 0;
    background: rgba(0,0,0,0.04);
}
.menu.show{
    display: flex;
}
.bigbody{
    width: 100%;
    height: 90%;
    display: flex;

}
.litle1, .litle2, .litle3{
width: 33%;
height: 100%;
background-color: whitesmoke;
border-radius: 10%;
}
.ptext{
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: clamp(0.9rem, 0.7rem + 1vw, 1.3rem);
    line-height: 1.5;
}
.infotext{
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: clamp(0.9rem, 0.7rem + 1vw, 1.3rem);
    line-height: 1.5;
}
.ptext2{
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: clamp(0.85rem, 0.65rem + 0.8vw, 1.1rem);
    line-height: 1.5;
}
@media screen and (max-width: 2500px){
    .ptext{
        font-size: 130%;
    }
    .infotext{
        font-size: 147%;
    }
    .ptext2{
        font-size: 107%;
    }
}

/*####################### Main Site*/
@media screen and (min-width: 1900px){
    .headline{
        width: 25%;
        height: 30%;
    }
}

.headline{
    background-color: lightgray;
    width: 20%;
    height: 25%;
    border-radius: 100%;
    padding: 2%;
    margin-top: 5%;
}
.Head{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 5vw;
    
}
.name{
    text-align: center;
    font-size: 1vw;
    width: 100%;
    margin-top: 2%;
}
.Main{
    width: 100vw;
    height: 70vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
.num1, .num2, .num3, .num4{
    background-color: lightgray;
    width: 7vw;
    height: 7vw;
    margin: 5%;
    border-radius: 100%;
    margin-top: 10%;
    justify-content: center;
}
.Button{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.big{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: lightgray;
    margin: 3%;
    margin-top: 7%;
}
.bild{
    width: 200px;
    height: 200px;
    border-radius: 100%;  
}
.bild.hide{
    display: none;
}
.text.show{
    display: flex;

}
.text{
    align-items: center;
    justify-content: center;
    display: none;
    height: 100%;
    font-size: 50px;
    text-decoration: none;
}
.num1{
    background: url('Bilder/Sk채rmbild 2025-07-22 153430.png') no-repeat center center; 
    background-size: cover;
}
.num2{
    background: url('Bilder/Sk채rmbild 2025-07-22 153451.png') no-repeat center center; 
    background-size: cover;
}
.num3{
    background: url('Bilder/Sk채rmbild 2025-08-17 113535.png') no-repeat center center; 
    background-size: cover;
}
.num4{
    background: url('Bilder/Sk채rmbild 2025-07-22 153440.png') no-repeat center center; 
    background-size: cover;

}
.hide{
    display: none;
}
@media screen and (max-width: 1000px){

    .num1, .num2, .num3, .num4{
        width: 150px;
        height: 150px;
    }
        
    .big{
        width: 200px;
        height: 200px;
    }
}

/*######################## Referenser */

.main2{
    display: flex;
    justify-content: center;
}
.refimg{
    width: 100%;
    height: 100%;
    border-radius: 10%;
}
.reftext1{
    background-color: lightgray;
    width: 90%;
    height: 50%;
    border-radius: 10%;
    margin-top: 5%;
}
.reftext2{
    background-color: lightgray;
    width: 90%;
    height: 39%;
    border-radius: 10%;
    margin-top: 5%;
}
.reftext3{
    background-color: lightgray;
    width: 90%;
    height: 50%;
    border-radius: 10%;
    margin-top: 5%;
}
.litleptext{
    margin-top: 10%;
    margin-left: 2%;
}

/*######################## OM Mig */

.Main3{
    justify-content: center;
    display: flex;
}
.head3{
    font-size: clamp(1.6rem, 1.2rem + 2.5vw, 3rem);
}
.imgofme{
    margin-top: 3%;
    height: 15vw;
    width: 15vw;
    border-radius: 100%;
    background-color: blue;
    background: url('Bilder/image.png') no-repeat center center;
    background-size: cover;
}
.omtext1{
    width: 90%;
    height: 50%;
    background-color: lightgray;
    border-radius: 10%;
    overflow-y: auto;
    padding: 2%;
    box-sizing: border-box;
}
@media screen and (max-width: 2000px) {
    .omtext1{
        height: 60%;
    }
}
.omtext2{
    width: 90%;
    height: 35%;
    background-color: lightgray;
    border-radius: 10%;
    margin-top: 3%;
    overflow-y: auto;
    padding: 2%;
    box-sizing: border-box;
}
.omtext2secound{
    width: 90%;
    height: 30%;
    background-color: lightgray;
    border-radius: 10%;
    margin-top: 3%;
    overflow-y: auto;
    padding: 2%;
    box-sizing: border-box;
}
.omtext3{
    width: 90%;
    height: 25%;
    background-color: lightgray;
    border-radius: 10%;
    margin-top: 3%;
    overflow-y: auto;
    padding: 2%;
    box-sizing: border-box;
}
.omtext4{
    width: 90%;
    height: 50%;
    background-color: lightgray;
    border-radius: 10%;
    margin-top: 3%;
    overflow-y: auto;
    padding: 2%;
    box-sizing: border-box;
}
.omtext5{
    width: 90%;
    height: 42%;
    background-color: lightgray;
    border-radius: 10%;
    margin-top: 3%;
    overflow-y: auto;
    padding: 2%;
    box-sizing: border-box;
}

/*####################### Fritid */

.main4{
    display: flex;
    justify-content: center;
}
.head4{
    font-size: 50px;
}
.textsmall{
    width: 90%;
    height: 50%;
    background-color: lightgray;
    border-radius: 10%;
    margin-top: 3%;
}

/*###################### Erfarenheter */

.halfbody1{
    width: 47%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
}
.halfbody2{
    width: 47%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 10%;
    display: flex;
}
.fourebody1, .fourebody2{
    width: 95%;
    height: 47%;
    border-radius: 10%;
}
.fourebody1{
    display: flex;
}
.foureimg{
    width: 90%;
    height: 97%;
    margin-top: 0.5%;
    margin-left: 5%;
    border-radius: 3%;
}
.credly{
    width: 50%;
    height: 100%;
    background: url('Bilder/it-specialist-python.png') no-repeat center center;
    background-size: cover;
}
.smalltext{
    width: 50%;
    height: 100%;
    background-color: lightgray;
    border-radius: 10%;
    margin-top: 1%;
}
.linkref{
    width: 100%;
    height: 100%;
}
.bigimg1, .bigimg2{
width: 47%;
height: 95%;
background-color: lightgray;
border-radius: 10%;
}
.bigimg1{
    background: url(Bilder/flygvapnet1.jpg) no-repeat center center;
    background-size: cover;
}
.bigimg2{
    background: url(Bilder/flygvapnet2.jpg) no-repeat center center;
    background-size: cover;
}
